
@import './common';

#Single {
  @include mq(sbtb) {
    display: flex;
    flex-direction: column;
  }
  @include mq(fb) {
    display: flex;
    flex-direction: row;
  }
  #MainDiv {
    @include mq(fb) {
      order: 2;
      width: 800px;
    }
    #content-header {
      @include mq(sbtb) {
        display: grid;
        gap: 0.5rem;
        margin: 1rem auto;
        width: 100%;
        max-width: 500px;
        border: 1px lightgray solid;
        padding: 0.5rem;
        * {
          &::before {
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
        #content-title {
          grid-row: 1 / 2;
          &::before {
            content: "タイトル: ";
          }
        }
        #content-date {
          grid-row: 2 / 3;
          &::before {
            content: "更新日: ";
          }
        }
        #content-description {
          grid-row: 5 / 6;
          margin-left: 4rem;
          text-indent: -3.5rem;
          &::before {
            content: "説明: ";
          }
        }
        #content-categories {
          grid-row: 3 / 4;
          display: flex;
          flex-wrap: wrap;
          &::before {
            content: "カテゴリ: ";
            display: block;
            margin-right: 1rem;
          }
          .category {
            font-size: .8rem;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            color: #0969da;
            background-color: #ddf4ff;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        #content-tags {
          grid-row: 4 / 5;
          display: flex;
          flex-wrap: wrap;
          &::before {
            content: "タグ: ";
            display: block;
            margin-right: 1rem;
          }
          .tag {
            font-size: .8rem;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            color: #0969da;
            background-color: #ddf4ff;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      @include mq(fb) {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        margin: 1rem auto;
        width: 100%;
        max-width: 500px;
        border: 1px lightgray solid;
        padding: 0.5rem;
        * {
          text-align: center;
          &::before {
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
        #content-title {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          &::before {
            content: "タイトル: ";
          }
        }
        #content-date {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          &::before {
            content: "更新日: ";
          }
        }
        #content-description {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          text-align: left;
          margin-left: 4rem;
          text-indent: -3.5rem;
          &::before {
            content: "説明: ";
          }
        }
        #content-categories {
          grid-column: 1 / 3;
          grid-row: 3 / 4;
          display: flex;
          flex-wrap: wrap;
          &::before {
            content: "カテゴリ: ";
            display: block;
            margin-right: 1rem;
          }
          .category {
            font-size: .8rem;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            color: #0969da;
            background-color: #ddf4ff;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        #content-tags {
          grid-column: 1 / 3;
          grid-row: 4 / 5;
          display: flex;
          flex-wrap: wrap;
          &::before {
            content: "タグ: ";
            display: block;
            margin-right: 1rem;
          }
          .tag {
            font-size: .8rem;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            color: #0969da;
            background-color: #ddf4ff;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    #content-body {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
  }
  #SubDiv {
    @include mq(sb) {
    }
    @include mq(tb) {
    }
    @include mq(fb) {
      order: 1;
      margin-right: 3rem;
      border-right: 3px gray double;
      padding: 1rem;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #Menu {
      $sb_menu_col_count: 2;
      $tb_menu_col_count: 3;
      @include mq(sbtb) {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 3px gray double;
        display: grid;
        gap: 0.5rem;
      }
      @include mq(sb) {
        grid-template-columns: repeat($sb_menu_col_count, 1fr);
      }
      @include mq(tb) {
        grid-template-columns: repeat($tb_menu_col_count, 1fr);
      }
      @include mq(fb) {
        display: flex;
        flex-direction: column;
      }
      .title {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem 0;
        grid-column: 1 / -1;
      }
      a {
        color: #0969da;
        text-decoration: none;
        height: 1.5rem;
        font-size: 0.9rem;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          height: 2rem;
          display: flex;
          align-items: center;
          &::before {
            content: "▶";
            color: red;
            margin-right: 0.5rem;
          }
          pointer-events: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
#ButtonContainer {
  #PrevButton {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  #NextButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
