
@import './common';

* {
  margin: 0;
  padding: 0;
  font-family: 'Consolas', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "yu-gothic";
}

main {
  max-width: 1200px;
  @include mq(sb) {
    margin: 60px auto;
  }
  @include mq(tb) {
    margin: 70px auto;
  }
  @include mq(fb) {
    margin: 80px auto;
  }
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1500px;
  margin: 0 auto;
  z-index: 100;
  background-color: rgba(white, 0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  @include mq(sb) {
    height: 50px;
  }
  @include mq(tb) {
    height: 60px;
  }
  @include mq(fb) {
    height: 70px;
  }
  #LogoImage {
    position: absolute;
    height: 100%;
    left: 0;
  }
}

#Index {
  #IndexHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    #Logo {
      width: 100px;
      border-radius: 50%;
      border: 1px lightgray solid;
      margin-top: 1rem;
    }
  }
  #textbook-content {
    display: grid;
    gap: 1rem;
    margin-top: 3rem;
    @include mq(sb) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(tb) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mq(fb) {
      grid-template-columns: repeat(6, 1fr);
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0E6DFE;
      text-decoration: none;
      border-right: 1px lightgray solid;
      &:last-child {
        border-right: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
