{{ partial "header.html" . }}
<div id="Single">
  <div id="MainDiv">
    <div id="content-header">
      <div id="content-title">{{ .Title }}</div>
      <div id="content-description">{{ .Description }}</div>
      <div id="content-date">{{ .Date.Format "2006.01.02" }}</div>
      <div id="content-categories">
        {{ range .Params.categories }}
          <div class="category">{{ . }}</div>
        {{ end }}
      </div>
      <div id="content-tags">
        {{ range .Params.tags }}
          <div class="tag">{{ . }}</div>
        {{ end }}
      </div>
    </div>
    <div id="MainBody">
      <div id="content">
        {{ .Content }}
      </div>
    </div>
  </div>
{{/* 戻ろボタンと進むボタン用のために使用する変数 */}}
{{ $prev := "" }}
{{ $next := "" }}
{{ $temp := "" }}
{{ $next_flag := false }}
  <div id="SubDiv">
    <div id="Menu">
      {{ range .Site.Params.pages }}
        {{/* 現在のページ名「textbook/hogehoge」 */}}
        {{ $page_name := printf "%s/%s" "textbook" . }}
        {{ if $next_flag }}
          {{/* 次へ進む用のデータ */}}
          {{ $next = $page_name }}
          {{ $next_flag = false }}
        {{ end }}
        {{/* ディレクトリ名とベースファイル名が一致していれば現在ページへのリンクと判断。 */}}
        {{/* 文字列結合 -> printf */}}
        {{/* 置換 -> replace */}}
        {{/* ファイル情報は「$.File」に格納されている。 */}}
        {{ if eq $page_name (printf "%s%s" (replace $.File.Dir "\\" "/") $.File.BaseFileName) }}
          <a href="{{ $.Site.BaseURL }}textbook/{{ lower . }}" class="active">{{ . }}</a>
          {{ $next_flag = true }}
          {{ $prev = $temp }}
        {{ else }}
          <a href="{{ $.Site.BaseURL }}textbook/{{ lower . }}">{{ . }}</a>
        {{ end }}
        {{/* 前へ戻る用のデータに使用する一時データ */}}
        {{ $temp = $page_name }}
      {{ end }}
    </div>
  </div>
</div>
<div>
  <div id="ButtonContainer">
    {{ with $prev }}
      <a class="btn btn-outline-success" href="{{ $.Site.BaseURL }}{{ lower $prev }}" id="PrevButton">前へ</a>
    {{ end }}
    {{ with $next }}
      <a class="btn btn-outline-primary" href="{{ $.Site.BaseURL }}{{ lower $next }}" id="NextButton">次へ</a>
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
