{{ partial "header.html" . }}
<div id="Single">
  <div id="MainDiv">
    <div id="content-header">
      <div id="content-title">{{ .Title }}</div>
      <div id="content-description">{{ .Description }}</div>
      <div id="content-date">{{ .Date.Format "2006.01.02" }}</div>
      <div id="content-categories">
        {{ range .Params.categories }}
          <div class="category">{{ . }}</div>
        {{ end }}
      </div>
      <div id="content-tags">
        {{ range .Params.tags }}
          <div class="tag">{{ . }}</div>
        {{ end }}
      </div>
    </div>
    <div id="MainBody">
      <div id="content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div id="SubDiv">
    <div id="Menu">
      {{ range .Site.Params.pages }}
        {{/* ディレクトリ名とベースファイル名が一致していれば現在ページへのリンクと判断。 */}}
        {{/* 文字列結合 -> printf */}}
        {{/* 置換 -> replace */}}
        {{/* ファイル情報は「$.File」に格納されている。 */}}
        {{ if eq (printf "%s/%s" "textbook" .) (printf "%s%s" (replace $.File.Dir "\\" "/") $.File.BaseFileName) }}
          <a href="{{ $.Site.BaseURL }}textbook/{{ . }}" class="active">{{ . }}</a>
        {{ else }}
          <a href="{{ $.Site.BaseURL }}textbook/{{ . }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
